<%= form_for @post do |f| %>
 <%= f.label :subject %>:
  <%= f.text_field :subject %>
  <br><br>

  <%= f.label :body %>:
  <%= f.text_area :body %>
  <br><br>

  <label for="tag_list">Add tags to your post</label>
  <input type="text" id="tag_list" name="tag_list">

  <br><br>
  <%= f.submit "Save" %>
<% end %>
