<h1><%= @post.subject %></h1>


<br><br>

<div class="votecell">
  <%= link_to "^", post_upvote_path(@post) %><br>
  <%= @post.upvotes.size - @post.downvotes.size %><br>
  <%= link_to "v", post_downvote_path(@post) %>
</div>

<%= raw Rinku.auto_link(@post.body) %>
<div class="comment">
  <% @post.comments.each do |comment| %>
    <%= raw Rinku.auto_link(comment.body) %> by: <%= "#{comment.user.first_name} #{comment.user.last_name}" %> <% if current_user == comment.user %> | <%= link_to "Delete", delete_comment_path(comment), method: :delete %> <% end %>
  <% end %>
</div>
<%= link_to 'Add Comment', new_post_comment_path(@post) %>
<hr>
<h2>Answers: <%= @answers.length %></h2>


<% if @post.find_fav %>
  <%= render 'favorite' %>
<% end %>

<% @answers.each do |answer| %>

  <% unless answer == @favorite %>
    <div class="votecell">
      <%= link_to "^", answer_upvote_path(answer) %><br>
      <%= answer.upvotes.size - answer.downvotes.size %><br>
      <%= link_to "v", answer_downvote_path(answer) %>
    </div>
  <div class="star">
    <% if current_user.id == @post.user_id %>
      <%= link_to "THIS IS A HUGE STAR", post_favorite_path(@post,answer) ,method: :patch%>
    <% end %>

  </div>
    <div class="answer">
      <p><%= raw Rinku.auto_link(answer.body) %></p>
      <p><%= answer.updated_at.to_s[0..9] %> | <%= link_to "#{answer.user.first_name} #{answer.user.last_name}", user_path(answer.user) %>
      <% if current_user == answer.user %>
        | <%= link_to "Edit Answer", edit_post_answer_path(answer.post, answer) %>
          <%= link_to 'Add Comment', new_answer_comment_path(answer) %>
        </p>

        <div class="comment">
          <% answer.comments.each do |comment| %>
            <%= raw Rinku.auto_link(comment.body) %> by: <%= "#{comment.user.first_name} #{comment.user.last_name}" %> <% if current_user == comment.user %> | <%= link_to "Delete", delete_comment_path(comment), method: :delete %> <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

<% end %>

<% if user_signed_in? %>
  <%= render 'form_answer' %>
<% end %>

<br>
Tags:
<div class="tags">
  <% @tags.each do |tag| %>
    <%= link_to "#{tag.name}", tag_path(tag) %> |
  <% end %>
</div>
