<h1><%= @post.subject %></h1>

<br><br>

<%= @post.body %>
<div class="comment">
  <% @post.comments.each do |comment| %>
    <%= comment.body %> by: <%= "#{comment.user.first_name} #{comment.user.last_name}" %>
  <% end %>
</div>
<%= link_to 'Add Comment', new_post_comment_path(@post) %>
<hr>
<h2>Answers: <%= @answers.length %></h2>

<% @answers.each do |answer| %>
  <div class="answer">
    <p><%= answer.body %></p>
    <p><%= answer.updated_at.to_s[0..9] %> | <%= link_to "#{answer.user.first_name} #{answer.user.last_name}", user_path(answer.user) %>
    <% if current_user == answer.user %>
      | <%= link_to "Edit Answer", edit_post_answer_path(answer.post, answer) %>
        <%= link_to 'Add Comment', new_answer_comment_path(answer) %>
      </p>

      <div class="comment">
        <% answer.comments.each do |comment| %>
          <%= comment.body %> by: <%= "#{comment.user.first_name} #{comment.user.last_name}" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>


<%= render 'form_answer' %>
