<!DOCTYPE html>
<html>
<head>
  <title>RecomMemeDo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,900' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav>
    <ul>
      <li><%= link_to "MEME DO", root_path %></li>
      <% unless current_user %>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <li><%= link_to "Sign In", new_user_session_path %></li>
      <% else %>
      <li><%= link_to "#{current_user.first_name}'s Profile", user_path(current_user) %></li>
      <li><%= link_to "New Post",  new_post_path %></li>
      <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
      <% end %>

    </ul>
  </nav>
  <div id="wrapper">
    <% if notice || alert %>
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>
    <% end %>
    <%= yield %>

  </div>
  <footer>
      <span><strike>Alex - Jess - Joe - Tom &copy; Badassery Inc.</strike></span>
      <p><span>Dustin - Danny - Chris - Jack &copy; Taco Corp.</span></p>
  </footer>
</body>
</html>
